.menuButton {
  display: inline-flex;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;

  &:hover,
  &:focus {
    fill: $accentColor;
  }

  @media screen and (min-width: $tablet) {
    display: none;

  }
}


.menuButton__iconCross {
  display: none;

  .menuButton.is-open & {
    display: block;
  }

}

.menuButton.is-open .menuButton__iconMenu {
  display: none;
}